body {
  background-color: #bfdaf8";
}

.col-sm-2 {
  padding: 0;
  border: 0;
  margin: 0;
}

.col-sm-10 {
  padding: 0;
  border: 0;
  margin: 0;
}
.navbar {
  padding: 0;
}
.navbar-brand {
  padding:0;
  margin:0;
}
.navbar-dark .navbar-nav .nav-link {
 
  color: white;
}

#navbarNavAltMarkup {
  
  background-color: black;
  border-bottom: 14px solid rgb(50, 137, 196);
  border-top:0;
  border-left:0;
  border-right:0;
  text-align: right;

  padding: 0px 10px 0px 0px;
  height:100px;
  margin:0;
}


p {
  text-align: justify;
  text-justify: inter-word;
}


.oilBackground {
  
  background-image: url("../images/oilChangeDue.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: whitesmoke;
  border-bottom: 1px solid #e5e5e5;
  padding: 3%;
  
}


.tireBackground {
    
    background-image: url("../images/tireImages.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
    border-bottom: 1px solid #e5e5e5;
    padding: 7%;
    
  }

.tuneUpBackground {
    
    background-image: url("../images/TuneUp.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
    border-bottom: 1px solid #e5e5e5;
    padding: 3%;
    
  }

.jumbotron {
    background-color: white;
    color: navy;
}


 