body {
  background-color: #bfdaf8";
}

.col-sm-2 {
  padding: 0;
  border: 0;
  margin: 0;
}

.col-sm-10 {
  padding: 0;
  border: 0;
  margin: 0;
}
.navbar {
  padding: 0;
}
.navbar-brand2 {
  padding:0;
  margin:0;
  border-bottom: 14px solid black;
  
}
.navbar-brand3 {
  padding:0;
  margin:0;
  color:black;
  text-align: center;
  
}
.navbar-brand {
  padding:0;
  margin:0;
  border-bottom: 14px solid rgb(50, 137, 196);
}
.navbar-dark .navbar-nav .nav-link {
 
  color: white;
}
#centerNav { 
  width: 75%;
  float: none;
  margin: auto;
  display: block;
  color: white;
  text-align: center;
}
.smCaps {
  font-variant: small-caps;
  font-size:30px;

}

#blueNav {
  width: 75%;
  float: none;
  margin: auto;
  display: block;
  text-align: center;
  font-variant: small-caps;
  font-size:30px;
}

#navbarNavAltMarkup2 {
  
  background-color: black;
  border-bottom: 14px solid black;
  border-top:0;
  border-left:0;
  border-right:0;
  text-align: right;

  padding: 0px 10px 0px 0px;
  height: 100px;
  margin:0;
}

#navbarNavAltMarkup {
  
  background-color: black;
  border-bottom: 14px solid rgb(50, 137, 196);
  border-top:0;
  border-left:0;
  border-right:0;
  text-align: right;

  padding: 0px 10px 0px 0px;
  height: 100px;
  margin:0;
}


p {
  /* text-align: justify;
  text-justify: inter-word; */
  text-align: left;
}


.oilBackground {
  
  background-image: url("../images/oilChangeDue.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: whitesmoke;
  border-bottom: 1px solid #e5e5e5;
  padding: 2%;
  
}


.tireBackground {
    
    background-image: url("../images/tireImages.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
    border-bottom: 1px solid #e5e5e5;
    padding: 7%;
    
  }

.tuneUpBackground {
    
    background-image: url("../images/TuneUp.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
    border-bottom: 1px solid #e5e5e5;
    padding: 4%;
    
  }

  .alignBackground {
    background-image: url("../images/alignment.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
    border-bottom: 1px solid #e5e5e5;
    padding: 3%;
  }

  .airBackground {
    background-image: url("../images/auto-ac.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
    border-bottom: 1px solid #e5e5e5;
    padding: 3%;
  }
  .batteryBackground {
    background-image: url("../images/battery.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
    border-bottom: 1px solid #e5e5e5;
    padding: 4%;
  }

  .brakesBackground {
    background-image: url("../images/brakes.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
    border-bottom: 1px solid #e5e5e5;
    padding: 2%;
  }
  .compBackground {
    background-image: url("../images/computer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
    border-bottom: 1px solid #e5e5e5;
    padding: 1%;
  }


  .exhaustBackground {
    background-image: url("../images/exhaust.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
    border-bottom: 1px solid #e5e5e5;
    padding: 11%;
  }
  .suspBackground {
    background-image: url("../images/suspension.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
    border-bottom: 1px solid #e5e5e5;
    padding: 9%;
  }

  .prePurchaseBackground {
    background-image: url("../images/prePurchase.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
    border-bottom: 1px solid #e5e5e5;
    padding: 2%;
  }
  .timingBackground {
    background-image: url("../images/timing-belt.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
    border-bottom: 1px solid #e5e5e5;
    padding: 8%;
  }
  .radiatorBackground {
    background-image: url("../images/radiator.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
    border-bottom: 1px solid #e5e5e5;
    padding: 6%;
  }
  .tranBackground {
    background-image: url("../images/transmission.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
    border-bottom: 1px solid #e5e5e5;
    padding: 11%;
  }
  


.jumbotron {
    background-color: white;
    color: navy;
}


@media (min-width: 768px) {

  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item {
      display: block;
  }
  
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
      transition: none;
  }
  
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  
  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -33.3333%;
      z-index: -1;
      display: block;
      visibility: visible;
  }
  
  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
  }
  
  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible;
  }
  
  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
  }

}

